.project-card {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.22);
  height: $project-card-height-mobile;
  width: 100%;
  border-radius: 10px;
  padding: 0.2rem;
  position: relative;
  display: flex;
  float: left;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  align-items: center;
  height: 50px;

  .github {
    max-height: 100%;
    width: 10%;
    justify-content: center;
    display: flex;
    margin-left: 0.3rem;
    img {
      width: 20vh;
      height: 100%;
      margin:auto;
    }
  }

  .title {
    padding: 10px;
    width: 40%;
    font-weight: 500;
    font-size: 0.6rem;
    text-align:center;
    color: darken($light_grey, 25%);
  }

  .description {
    padding: 10px;
    width: 50%;
    font-weight: 350;
    font-size: 0.5rem;
    color: $light_grey;
    margin: 0.4rem 0;
    text-align: center;
  }

  .tech-stack {
    display: none;
  }
}

@include mobile {
  .project-card {
    width: 100%;
    height: $project-card-height;
    transition: all 0.5s ease;
    min-height: 100px;
    .github {
      width: 5%;
      margin-left: 0.3rem;
      img {
        width: 2rem;
        margin:auto;
      }
    }
    .title {
      width: 20%;
      font-size: 0.7rem;
      text-align:left;
    }
    .description {
      width: 45%;
      font-size: 0.7rem;
      text-align: left;
    }
    .tech-stack {
      width: 30%;
      display: grid;
      padding: 0 0.1rem;
      display: grid;
      grid-template-columns: repeat(5, 5vmin);
      grid-gap: 20px;
      justify-content: space-between;
      img {
        height: 100%;
      }
    }
  }
  .project-card:hover,
  .project-card:focus {
    transform: translateY(-15%);
  }
}

