.card {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.22);
  height: $card-height;
  width: $card-width-mobile;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  .img {
    height: 35%;
    width: 60%;
    img {
      padding-bottom: 5px;
      border-bottom: $light_grey solid 1px;
      display: block;
      height: 100%;
      width: auto;
      margin: auto;
    }
  }

  .title {
    height: 15%;
    font-weight: 600;
    font-size: 15px;
    padding-top: 7px;
    color: darken($light_grey, 25%);
    border-bottom: teal solid 1px;
  }

  .duration {
    height: 10%;
    font-weight: 250;
    font-size: 14px;
    color: $light_grey;
    margin: 3px 0;
  }

  .tech-stack {
    height: 30%;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
    display:flex;
    img {
      width:45px;
      height:45px;
    }
  }
}

@include mobile {
  .card {
    width: $card-width;
  }
}
