#content-body {
  margin-top: $nav-height-mobile;
  padding: 30px 0 0;
}

@include mobile {
  #content-body {
    margin-top: $nav-height-desktop;
    padding: 40px 0 0;
  }
}

.container {
  max-width: $width;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
  p a {
    font-weight:400;
    text-decoration: none;
    color: $grey;
  }
  .timeline-header {
    display: none;
  }
}

@include mobile {
  .container .timeline-header {
    display: block;
  }
}


/* Footer Component */
.footer {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 3rem;
  a {
    font-weight: 400;
    color: $light-grey;
    display: block;
    margin-right: 1rem;
  }
}

@include mobile {
  .footer {
    height: 80px;
  }
}
