.timeline {
  display: none;
}

@include mobile {
  .timeline {
    display: flex;
    .line {
      width: 100%;
      background: linear-gradient(#000, #000) no-repeat center/2px 100%;
      display: grid;
      grid-template-columns: repeat(10, 8vmin);
      grid-template-rows: repeat(auto-fill, 10vmin);
      grid-gap: 10vh;
      justify-content: center;
      align-items: center;
    }
  }
  
  .timelineitem {
    z-index: 2;
    display: flex;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:auto;
    background:white;
    font-weight: bold;
  }
  
  .timelineitem.right {
    grid-column: 5;
  }
  
  .timelineitem.left {
    grid-column: 6;
  }
  
  .desc-left {
    text-align: right;
    grid-column: 1 / 6;
  }
  
  .desc-right {
    text-align: left;
    grid-column: 6 / 11;
  }
}