/* Screen sizes */
$mobile-width: 720px;
$tablet-width: 768px;
$desktop-width: 1024px;

/* Sizes */
$width: 1000px;
$card-height: 200px;
$card-width: 30vw;
$card-width-mobile: 80vw;
$project-card-height: 10vh;
$project-card-height-mobile: 30vh;

/* Navbar Sizes */
$nav-height-desktop: 90px;
$nav-height-desktop-scroll: 50px;

$nav-width-mobile: 0; // Not used
$nav-height-mobile: 50px;

/* Colors */
$grey: #282828;
$light-grey: #999999;
$lightest-grey: #c1c1c1;
$link-color: #4e4e4e;

/* Body Fonts */
$font-family: 'Raleway', sans-serif;
$font-size: 1.2rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #282828;
$light-font-color: rgba(0, 0, 0, 0.6);
$line-height: 1.6;

/* Nav Fonts */
$nav-font-family: 'Raleway', sans-serif;
$nav-font-size: 1rem;
$font-color: #111111;

